# Eclipse top-level resource files are excluded ...
.metadata/

# Some Eclipse project resource files should never be checked in ...
.recommenders/
.settings/

# These are names of directories typically used for generated content, so are ignored ...
bin/
build/
deploy/
target/
*.class

# The 3rd party dependencies should never be committed
libs/wpilib
libs/ctre
libs/navx-mxp
libs/test
downloads/

.DS_Store/

