<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<eclipse-userlibraries version="2">
    <library name="Strongback" systemlibrary="false">
        <archive javadoc="file:STRONGBACKHOME/java/javadoc/" path="STRONGBACKHOME/java/lib/strongback.jar" source="STRONGBACKHOME/java/lib/strongback-sources.jar"/>
        <archive javadoc="file:STRONGBACKHOME/java/javadoc/" path="STRONGBACKHOME/java/lib-tests/strongback-testing.jar" source="STRONGBACKHOME/java/lib-tests/strongback-testing-sources.jar"/>
        <archive javadoc="file:STRONGBACKHOME/java/javadoc/" path="STRONGBACKHOME/java/lib-tests/fest-assert-1.4.jar" source="STRONGBACKHOME/java/lib-tests/fest-assert-1.4-sources.jar"/>
        <archive javadoc="file:STRONGBACKHOME/java/javadoc/" path="STRONGBACKHOME/java/lib-tests/fest-util-1.1.6.jar" source="STRONGBACKHOME/java/lib-tests/fest-util-1.1.6-sources.jar"/>
        <archive javadoc="file:STRONGBACKHOME/java/javadoc/" path="STRONGBACKHOME/java/lib-tests/hamcrest-core-1.3.jar" source="STRONGBACKHOME/java/lib-tests/hamcrest-core-1.3-sources.jar"/>
        <archive javadoc="file:STRONGBACKHOME/java/javadoc/" path="STRONGBACKHOME/java/lib-tests/junit-4.11.jar" source="STRONGBACKHOME/java/lib-tests/junit-4.11-sources.jar"/>
        <archive javadoc="file:STRONGBACKHOME/java/javadoc/" path="STRONGBACKHOME/java/lib-tests/metrics-core-3.1.0.jar" source="STRONGBACKHOME/java/lib-tests/metrics-core-3.1.0-sources.jar"/>
    </library>
</eclipse-userlibraries>
